h1, h2{
    font-size:  2.5em;
    color: purple;
    text-align: center;
}
h3{
    text-align: center;
}
.contact{
    border: 1px solid black;
    padding: 1%;
}

button{
    margin-left: 1%;
    background: red;
}
.para{
    color: red;
}
.dauphin{
    color: green;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}