<button (click)="toggle()">Afficher données</button>

<div *ngIf="hidden">
    <div *ngFor="let employee of employees; let isOdd = odd">
        <div *ngIf="isOdd">
            <div>
                {{ today | date:"dd/MM/yyyy"}}
                {{employee.company.nom}}

                <div>
                    <div>
                        {{employee.name | uppercase}}
                    </div>
                    <div>
                        <p>Site: {{employee.website}}</p>
                        <p>Email: {{employee.email}}</p>
                        <p>Téléphone: {{employee.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

