
body{
    text-align: center;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

}
header, footer{
    height: 10%;
    width: 100%;
    background-color: grey;
}
nav{
    margin-top: 1vh;
    background-color: grey;
    height: 78%;
    width: 12.5%;
}
section{
    margin: 1vh;
    display: flex;
    justify-content: space-around;
    background-color: purple;
    height: 50%;
    width: 99%;
}
article{
    margin: 2vh;
    background-color: yellow;

    color: black;
    height: auto;
    width: 88%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 87.5%;
}
.div{
    margin: 1%;
    background-color: aliceblue;
    color: black;
    height: 87%;
    width: 98%;
    align-items: center;

}
aside{
    margin: 2vh 1vh 0vh 0vh;
    background: url(./../img/Saturn.jpg) no-repeat;
    background-size: 100%;
    height: 90%;
    width: 43%;
}
p{
    background-color: grey;
    color: white;
    width: 90%;
    letter-spacing: 10px;
    -webkit-box-shadow: 14px 17px 13px -1px #0e0a08; 
    box-shadow: 14px 17px 13px -1px #0a0a0a;
    }
@media screen and (max-width: 600px) {
    nav{
        display: none;
    }
    p{
        background-color: green;
    }
    section{
        margin-left: 7%;
    }
    aside{
        margin-top: 20%;
    }
    
}