@media screen and (max-width: 600px) {
    input {
         font-size: 90%;
      }
   }
   
   @media screen and (max-width: 269px) {
    input {
          font-size: 50%;
      }
   }
   
   @media screen and (max-width: 30em) {
      input {
           font-size: 20%;
     }
   }