<h2>1er composant</h2>
<!-- <app-liste-filtre></app-liste-filtre>
    <app-magie></app-magie>
    
    <app-users></app-users>
    <app-bouton></app-bouton>
    <app-liste></app-liste>
    <app-alert-bouton></app-alert-bouton>
    <app-employees></app-employees>
    <router-outlet></router-outlet>
    <app-bouton-menu></app-bouton-menu>
    <app-heure></app-heure>
    <app-liste-courses></app-liste-courses>
    <app-bouton-generique boutonTexte="Marco" alertMessage="Polo"></app-bouton-generique> 
    <app-bouton-generique boutonTexte="Ping" alertMessage="Pong"></app-bouton-generique>
    <app-bouton-generique boutonTexte="Basket" alertMessage="Ball"></app-bouton-generique> -->
    <app-reactiv-list-courses></app-reactiv-list-courses>
    